/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.blue-heading {
    color: #007bff;
}

.red-paragraph {
    color: #dc3545;
    font-size: 15px;
}

a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    background-color: #dc3545;
    border-radius: 20px;
}

a:hover {
    text-decoration: underline;
}

/* Image section */
.image-section {
    text-align: center;
}

.image-section img {
    width: 1024px;
    height: auto;
    max-width: 90%;
    border: 5px solid #28a745;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

/* Form section */
.form-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cancel-btn {
    background-color: #dc3545;
    color: white;
}

#register-btn {
    background-color: #007bff;
    color: white;
}

button:hover {
    opacity: 0.8;
}